name: Example.Dapr.FirstSubscriber

# Trigger the workflow on push or pull request,
# but only for the master branch
on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.201
    - name: Install dependencies
      run: dotnet restore dnc-dapr.sln
    - name: Build
      run: dotnet build ./source/Example.Dapr.FirstSubscriber/Example.Dapr.FirstSubscriber.csproj --configuration Release --no-restore